{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Pets List</h1>
  {% if pet_list %}
  <ul>
    {% for pet in pet_list %}
      <li>
          {{ pet.nickname }} ({{ pet.type }})
          (<a href="{% url 'pets:pet_update' pet.id %}">Update</a> |
          <a href="{% url 'pets:pet_delete' pet.id %}">Delete</a>) <br/>

      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no pets in the library.</p>
  {% endif %}
  <p>
    {% if type_count > 0 %}
      <a href="{% url 'pets:pet_create' %}">Add a pet</a>
    {% else %}
      Please add a type before you add an pet.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'pets:type_list' %}">View types</a> ({{ type_count }}) |
    <a href="{% url 'pets:type_create' %}">Add a type</a>
  </p>
{% endblock %}